@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc
@using Kentico.Xperience.GoogleMaps

@model AddressFormComponent

@{
    var htmlAttributes = ViewData.Kentico().GetEditorHtmlAttributes();
    htmlAttributes["id"] = Model.Properties.InputId;
}

@Html.TextBoxFor(m => m.Address, htmlAttributes)
<div id="XperienceAddressAutocompleteDropdown" style="display: none;"></div>
